<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>
<body>
    <h1><%=day%>, <%=month%> <%=date%></h1> 

    <% if(locals.activities){ %>
            <% for(const activity of Object.keys(activities)){ %>
                <p><%=activity %></p>
            <%} %>
    <%} %>
        
    <form action = '/submit' method = "POST">
        <input type = "text" name = "activity">
    </form>

    <!--footer-->
    <%- include("partials/footer.ejs")%>
</body>

</html>